@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: white;
}

#hero {
  width: 100%;
  height: 80vh;
  background: url('../image/hero.png') top center;
  background-size: cover;
  position: relative;
  color: white;
}

#hero p {
  font-size: 20px;
}

#hero a {
  font-weight: 700;
  border-radius: 37px;
  padding: 10px 36px 10px 36px;
}

#card {
  margin-top: 20px;
}

.btn-yellow,
.btn-yellow:hover {
  background-color: #ffa62b;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.sections-bg-gray {
  background-color: #f6f6f6;
  width: 100%;
}

.sections-bg-navy {
  background-color: #174063;
  width: 100%;
  color: white;
}

.sections-header p {
  letter-spacing: 0.2px;
  line-height: 20px;
  max-width: 864px;
  margin-top: 20px;
}

.box {
  border: 1px solid red;
}

.accordion-item {
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.accordion-button {
  padding: 20px;
  font-weight: 600;
}