@media screen and (min-width: 500px) {
  #form-login {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }

  #form-login {
    width: 700px;
  }

  section {
    padding: 100px;
  }
}