@media screen and (min-width: 500px) {
  #form-login {
    width: 450px;
  }
}

@media screen and (max-width: 992px) {
  .form {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  #kontak .row {
    margin: 0 auto;
  }

  #kontak img[alt="Contact Image"]  {
    display: block;
    height: 100%;
    object-fit: cover;
  }

  .form {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .alert, #kontak .row {
    width: 80%;
  }

  #form-login {
    width: 700px;
  }

  section {
    padding: 100px;
  }
}